@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) { 
	html { 
		font-size: 110%; 
	}
} 


@media only screen and (min-width: 90em) { 
	html { 
		font-size: 120%;
	
	}
} 

@media only screen and (min-width: 120em) { 
	html { 
		font-size: 130%;
	}
}


body {
  margin: 0;
  padding: 0;
}

a:link, 
a:active { 
outline: none;
}

a:focus {
	outline: 3px solid #000;
}

.skip-links { 
	margin:0; 
	padding:0;
	list-style-type: none;
}

.skip-links a:focus { 
	top:0;
}

.skip-links a { 
	position: absolute;
	top: -3em;
	padding: 0.5em 0.75em; 
	background-color: #000; 
	color: #fff; 
	font-weight: bold; 
	font-size: 1.25em; 
	text-decoration: none; 
}

.gutter { 
	padding-left: 1em; 
	padding-right: 1em; 
	padding-top: 1em;
} 

img {
   display: block;
   width: 100%;
}

.grey { 
	background-color: #AAAAAA;
	overflow: hidden;
}

.mediumgrey { 
	background-color: #d3d3d3;
	overflow: hidden;
}

.lightgrey { 
	background-color: #E8E8E8;
	overflow: hidden;
}

.banner { 
	background-color: #d3d3d3;
	overflow: hidden;
	text-align: center;
	font-weight: 300;
}

.header{ 
	background-color: #E8E8E8;
	overflow: hidden;
	text-align: center;
}

.nav { 
    padding: 0; 
    list-style-type: none;  
    text-decoration: none;
} 

.title { 
    margin: 0; 
    padding: 0; 
    text-align: center;
}

 .nav a { 
    display: inline-block; 
    border:0;  
    text-decoration: none;
    } 

.figcap { 

}

.footer{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
}

.copyright{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
}

li { 
	overflow: hidden;
	margin: 0; 
	padding: 0;
}

.form { 
	padding: 2em; 
	background-color: #e2e2e2;

}

label { 
	display: block; 
}

input + label { 
	display: inline-block;
	border-color: #d0d0d0;
}

fieldset { 
	border-style: none;
	margin:0; 
	padding: 0;
}
 
legend { 
 font-style: italic;
 display: inline-block;
 
 }

.signup {  
	cursor: pointer;
	text-align: center;	
	border: 0.5em;
}

.buttonbox { 
	text-align: center;
	padding-top: 1em;
}

button { 
	background-color: white; 
	font-size: 0.9em;
	margin:0; 
	padding: 0;
}

textarea { 
	height: 12em;
	width: 100%;
	border-color: #d0d0d0;
}

.age, 
.email, 
.name { 
	width: 100%; 
	font-size: 1.5em;
}

.formtitle { 
	text-align: center;
}

.radio { 
	white-space: nowrap;
}

form { 
	max-width: 35em; 
	margin:0 auto;
}

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
			display:center;
	}
	
	.title { 
			text-align: left;
	}
	
	.copyright { 
			text-align: left;
	}
	
	.footer { 
			text-align: right;	
	}
}

 
@media only screen and (min-width: 60em) { 

	
	.copyright { 
			text-align: left;
	}
	  
	dt {
			display:inline;
			float:left;
			width: 40%;
	} 
	 .title { 
			text-align: left;
	 }
	
	.footer { 
			text-align: right;	
	
	}
}


