@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.gutter { 
	padding-left: 1em; 
	padding-right: 1em; 
	padding-top: 1em;
} 

img {
   display: block;
   width: 100%;
}

.grey { 
	background-color: #AAAAAA;
	overflow: hidden;
}

.mediumgrey { 
	background-color: #d3d3d3;
	overflow: hidden;
}

.lightgrey { 
	background-color: #E8E8E8;
	overflow: hidden;
}

.banner { 
	background-color: #d3d3d3;
	overflow: hidden;
	text-align: center;
	font-weight: 300;
}

.header{ 
	background-color: #E8E8E8;
	overflow: hidden;
	text-align: center;
}

.nav { 
    padding: 0; 
    list-style-type: none;  
    text-decoration: none;
} 

.title { 
    margin: 0; 
    padding: 0; 
    text-align: center;
}

 .nav a { 
    display: inline-block; 
    border:0;  
    text-decoration: none;
    } 

.figcap { 

}

.footer{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
}

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: left;
	  		padding: 0;
		} 
	
	 .nav li { 
			display:center;
	}
	
	.title { 
			text-align: left;
	}
	
	.footer ul { 
			text-align: right;
			width: 150%;
	}
	
	.footer li { 
			text-align: left;
	}
}

 
@media only screen and (min-width: 60em) { 

	 .footer ul { 
			text-align: right;
		 	width: 150%;
	}
	
	.footer { 
			text-align: left;
	}
	  
	dt {
			display:inline;
			float:left;
			width: 40%;
	} 
	  .nav { 
			text-align: left;
	  		padding: 0;
		} 
	 .nav li { 
			display:center; 
	}
}

